#legacy {
    display: flex;
    width: 80%;
    margin: 0% 11% 0% 16%;
}

.leagcy-items {
    margin: 2% 2% 2% 2%;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #303030;
}

#legacy-line {
    width: 75%; 
    margin: 3% 11% 0% 11%;
    height: 1px; 
    background-color: #303030;
}

